.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#container{
  width: 400px;
  background-color: aliceblue;
  padding: 20px;
}
input{
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.filterInput{
  margin-top: 8px;
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.list{
  margin: 30px 0 10px 0;
}
.list > li{
  background-color: antiquewhite;
  padding: 5px;
  margin-bottom: 3px;
  display: flex;
  justify-content: space-between;
}
.btn{
  display: flex;
  justify-content: flex-end;
  padding: 5px 0;
}

h1{
  font-size: 25px;
  margin-top: 1px;
}
.btnDelete{
  padding: 2px 8px;

  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  
}
.button-delete{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  border-radius: 50%;
  color: #ff6c6c;
}
.button-complete{
  border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 28px;
    border-radius: 50%;
    color: #5e9261;
    margin-right: 10px;
    display: flex;
    justify-content: right;
    position: relative;
    
}
.deleteBtn{
  width: 18px;
  height: 22px;
  background-color: red;
  color: white;
  text-align: center;
  cursor: pointer;
}

.deleteAllBtn{
  text-align: right;
  cursor: pointer;
  font-size: 12px;

}
.deleteAllBtn:hover{
  text-decoration: underline;
}
.edit span{
  margin-left: 10px;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

